---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cocina - De la Concha su Mar">
    <h1 class="page-title">Cocina</h1>
    <p class="page-description">
        Aquí se muestra el proceso de preparación de los platos,
    </p>
</Layout>
