---
import Layout from "../layouts/Layout.astro";
import CategoryTabs from "../components/mesasOrder/CategoryTabs.astro";
---

<Layout title="De la Concha su Mar - Menú">
	<div class="menu-page-layout">
		<div class="menu-section">
			<CategoryTabs />
		</div>
	</div>
</Layout>

<style>
	.menu-page-layout {
		display: flex;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	.menu-section {
		flex-grow: 1;
		padding: 32px;
		overflow-y: auto;
		background-color: #f5faff;
	}
</style>
