---
import MesasGrid from "../components/mesas/MesasGrid.astro";
import MesasHeader from "../components/mesas/MesasHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mesas - De la Concha su Mar">
    <div class="tables-page">
        <MesasHeader />
        <MesasGrid />
    </div>

    <style>
        .tables-page {
            width: 100%;
            height: 100%;
            padding: 12px;
        }
    </style>
</Layout>
